.logo-main{
  grid-template-columns:1fr 1fr;
  gap:50px;
  align-items:center;
}
.logo-page-title{
  font-family: 'GTEesti', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.0;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 50px;
    margin-top: 100px;
}

.logo-intro{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:50px;
}

.logo-intro p{
  margin-bottom:36px;
}

.logo-stitch{
  width:100%;
  display:block;
}

.logo-main p{
  margin-bottom:36px;
}


.logo-main-image img{
  width:100%;
  max-width:380px;
}

.mods-grid{
  display:flex;
  flex-direction:column;
  gap:24px;
}

.mod-item{
  display:grid;
  grid-template-columns:260px 1fr;
  gap:32px;
  align-items:center;
}

.mod-item img{
  width:100%;
  display:block;
}

.ohr-wrap{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:40px;
}

.ohr-slider{
  position:relative;
  width:100%;
  max-width:700px;
}

.ohr-slide{
  width:100%;
  display:none;
}

.ohr-slide.active{
  display:block;
}

.slider-btn{
  width:56px;
  height:56px;
  border:none;
  border-radius:50%;
  background:var(--blue);
  cursor:pointer;
  font-size:34px;
  color:white;
  transition:.2s;
}

.slider-btn:hover{
  transform:translateY(-2px);
}

.ohr-text{
  text-align:center;
  margin-top:24px;
}

.min-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:24px;
}

.min-grid img{
  width:100%;
  display:block;
}

.min-grid img:last-child{
  grid-column:1;
}

.zapr-img{
  width:100%;
  display:block;
}

.footer {
  margin-top: var(--gap-before-title);

  margin-left: calc(-1 * var(--content-pad));
  margin-right: calc(-1 * var(--content-pad));

  background: var(--dark);
  padding: 48px var(--content-pad);
}
@media(max-width:768px){

  .logo-page-title{
    font-size:48px;
    margin-top:130px;
    margin-bottom:50px;
  }

  .logo-intro,
  .logo-main,
  .mod-item{
    grid-template-columns:1fr;
  }

  .ohr-wrap{
    gap:12px;
  }

  .slider-btn{
    width:44px;
    height:32px;
    font-size:24px;
  }

  .min-grid{
    grid-template-columns:1fr;
  }

  .min-grid img:last-child{
    grid-column:auto;
  }
}
@media (max-width: 480px) {
  .logo-page-title{
    font-size:34px;
    margin-top:120px;
    margin-bottom:50px;
  }
  .graph-subtitle { font-size: 24px; }
  .logo-stitch { margin: 10, 0, 0;
  }
}
